[submodule "modeltest"]
  path = modeltest
	url = https://github.com/BenoitMorel/modeltest.git
[submodule "raxml-ng"]
  path = raxml-ng
  branch = dev
	url = https://github.com/amkozlov/raxml-ng.git
[submodule "MPIScheduler"]
	path = MPIScheduler
  url = https://github.com/BenoitMorel/MPIScheduler.git
[submodule "ASTRAL"]
	path = ASTRAL
	url = https://github.com/smirarab/ASTRAL.git
[submodule "ASTER"]
	path = ASTER
	url = https://github.com/chaoszhang/ASTER.git
